@{
    ViewData["Title"] = "Home Page";
}

<style>
    .social-icon{
        display:flex;
        justify-content:right;
    }
    .social-icon img{
        width: 50px;
        height: 50px;
    }
    .intro{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-top: 60px;
        color: #fff;
    }

    body{
        background: url(4k-tech-fi904sfb2h6pmfhs.jpg);
    }
    .head{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: #fff;
    }
    .myphoto{
        border-radius:50%;
        width: 200px;
    }
</style>

<div class="head">
    <h1>Welcome</h1>
    <img src="365602177_3538341943159651_914582879994477865_n.jpg" alt="me" class="myphoto" />
    <h4>Bachelor of Science <br>In information Technology(BSIT)</h4>
</div>

<div class= "intro">
    <h2> Hi There!<br> ARMAN B. CANTONJOS</h2>
    <p>Im a 3rd year college student in the Lyceum of Alabang. I am taking a bachelor of science in information technology<br> And my section is BSIT32E1. I am in my second semester now</p>
</div>

<div class="social-icon">
    <a href="https://web.facebook.com/cantonjosarman/" target="_blank"><img src="914de662ac57138cda4a401ff37b444e-removebg-preview.png" alt="facebook"/></a>
    <a href="https://www.instagram.com/atrjos_ac/" target="_blank"><img src="eb53e975963ecc9bea5eafb43145a4f3-removebg-preview.png" alt="instagram" /></a>
</div>
