@{
    ViewData["Title"] = "My Schedule";
}

<style>
    .Text{
        color: #fff;
    }
    h1 {
        font-family: 'Comic Sans MS';
        text-align: center;
        margin-top: 50px;
    }
    body{
        background-color: darkslategray;
    }
    table {
        font-family: 'Comic Sans MS';
        width: 100%;
        border-collapse: collapse;
        margin-top: 70px;
    }

    td {
        border: 1px solid #fff;
        padding: 20px;
        text-align: center;
    }

    th {
        border: 1px solid #fff;
        padding: 5px;
        text-align: center;
    }
</style>
<div class="Text">
<h1>MY SCHEDULE</h1>
<table>
    <tr>
        <th rowspan="2">Section</th>
        <th rowspan="2">Code</th>
        <th rowspan="2">Course Title</th>
        <th rowspan="2">Units</th>
        <th colspan="2">Asynchronous</th>
        <th colspan="2">Face to Face Time</th>
        <th rowspan="2">Prof</th>
    </tr>
    <tr>
        <td>Day</td>
        <td>Time</td>
        <td>Day</td>
        <td>Time</td>
    </tr>
    <tr>
        <td>BSIT32E1</td>
        <td>106-ELEC323</td>
        <td>IT Elective 3</td>
        <td>3</td>
        <td>Thursday</td>
        <td>1:00pm-2:00pm</td>
        <td>Saturday</td>
        <td>7:00am-10:00am</td>
        <td>Prof. Alamo</td>
    </tr>
</table>
</div>